* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    color: #cdd6f4;
}

window {
    background: #1e1e2e;
}

input {
    background: #313244;
    color: #cdd6f4;
    border: none;
}

button {
    background: #45475a;
    color: #cdd6f4;
    border: none;
}

button:hover {
    background: #585b70;
}

label {
    color: #bac2de;
}
